target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles/
!.idea/compiler.xml
!.idea/modules.xml
*.iws
*.ipr
*.iml
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Compilados do Java
*.class

# Diretório de saída padrão do IntelliJ IDEA
/out/
target/


# Logs e arquivos temporários
*.log
*.tmp
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos gerados por testes
/test-output/

# Arquivos ocultos
.*~
